
<h3>User info</h3>
<%= image_tag user.get_image %>

<p>Name <%= user.name %></p>
<p>introduction <%= user.introduction %></p>

<%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-lg btn-block", method: :get do %>
<i class="fas fa-user-cog"></i>
<% end %>
